<article>
    <div class="inner">

        <a href="{{{link}}}" target="_blank" class="edit-article"><i class="material-icons">mode_edit</i><span>Редактировать</span></a>

        {{{article}}}

    </div>
</article>