<title>{{ title }} - Minecraft Modding</title>

<link rel="icon" href="{{{ book_root }}}/favicon.png">

<meta name="description" content="{{ description }}">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="UTF-8">

<!-- Google Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{{> head/open-graph }}

{{> head/libs }}

<!-- Book CSS -->
<link href="{{{ book_root }}}/styles/book.min.css" rel="stylesheet">

<!-- Book JS -->
<script src="{{{ book_root }}}/scripts/book.min.js"></script>